@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

  @media (max-width: 991.98px) {
    .ftco-navbar-light {
      background: #000000 !important;
      position: relative;
      top: 0; } }
  .ftco-navbar-light .navbar-brand {
    color: #fff; }
    .ftco-navbar-light .navbar-brand span {
      color: #dfaa93; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-brand {
        color: #fff; } }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
      padding-bottom: 10px; } }
 .navbar-brand {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase; }
  
  #login-con {
	margin: auto; margin-top: 100px; margin-bottom: 100px; border: 1px solid #C0C0C0; width:500px;
	border-radius: 5px; font-family: 'RIDIBatang';
   }
   
  #log-form {
  
  width: 400px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  }
  #password{
   margin-top: 10px;
  }
  
  #log-form span{
  padding: 10px 10px;
  color: gray;
  }
  
  .form-group h2{
  font-family:'TheJamsil5Bold';
  font-weight: 200;
  }
  